/FEST/2017/Ejercicio 5/nbproject/private/
/FEST/2017/Ejercicio1/nbproject/private/
/BINpurge.exe
/Segundo/MP/Practica 2/nbproject/private/
/Segundo/MP/Practica 2/build/
/Segundo/MP/Examenes/2017 Febrero/Ejercicio2/nbproject/private/
/Segundo/MP/Practica2 mod1/build/
/Segundo/MP/Practica2 mod1/nbproject/private/
/Segundo/MP/Examenes/2015 Febrero/Ejercicio 2/nbproject/private/
/Segundo/MP/Examenes/2015 Febrero/Ejercicio 2/build/
/Segundo/MP/Examenes/2014 Septiembre/Ejercicio2/nbproject/private/
/Segundo/MP/Examenes/2014 Septiembre/Ejercicio2/build/
/Segundo/MP/Examenes/2014 Febrero/Ejercicio2/nbproject/private/
/Segundo/MP/Examenes/2014 Febrero/Ejercicio2/build/
/Segundo/MP/Examenes/2013 Febrero/Ejercicio2/nbproject/private/
/Segundo/MP/Examenes/2013 Febrero/Ejercicio2/build/
/Segundo/MP/Practica2 mod3/build/
/Segundo/MP/Practica2 mod3/nbproject/private/
/Segundo/MP/Examenes/2012 Febrero/Ejercicio 3/nbproject/private/
/Segundo/MP/Examenes/2012 Febrero/Ejercicio 3/build/
/Segundo/MP/Examenes/2019 Febrero/Ejercicio 5/nbproject/private/
/Segundo/MP/Examenes/2019 Febrero/Ejercicio 5/build/
/Segundo/MP/Examenes/2019 Febrero/Ejercicio 6/nbproject/private/
/Segundo/MP/Examenes/2019 Febrero/Ejercicio 6/build/
/Segundo/MP/Examenes/2019 Febrero/Ejercicio 7/nbproject/private/
/Segundo/MP/Examenes/2019 Febrero/Ejercicio 7/build/
/Segundo/MP/Examenes/2019 Febrero/Ejercicio 8/nbproject/private/
/Segundo/MP/Examenes/2019 Febrero/Ejercicio 8/build/
/Segundo/MP/Examenes/2019 Febrero/Ejercicio 9/nbproject/private/
/Segundo/MP/Examenes/2019 Febrero/Ejercicio 9/build/
/Segundo/MP/Examenes/2012 Febrero/Ejercicio 2/nbproject/private/
/Segundo/MP/Examenes/2019 Septiembre/Practica 2/nbproject/private/
/Segundo/MP/Examenes/2019 Septiembre/Practica 2/build/
*.exe
*.o
/Tercero/AMC/Practica 1/Practica 1/build/
/Tercero/AMC/Practica 1/Practica 1/dist/
/Tercero/PCD/Practica 1/nbproject/private/
/Tercero/PCD/Practica 1/build/
/Tercero/PCD/Practica 1/dist/
/Tercero/PCD/Practica 2/nbproject/private/
/Tercero/PCD/Practica 2/build/
/Tercero/PCD/Test/nbproject/private/
/Tercero/PCD/Test/build/
/Tercero/DDSI/Practica 2/nbproject/private/
/Tercero/DDSI/Practica 2/build/
/Tercero/DDSI/Practica 2/dist/
/Tercero/PCD/PCD Practica 3/nbproject/private/
/Tercero/PCD/PCD Practica 3/build/
/Tercero/PCD/PCD test/nbproject/private/
/Tercero/PCD/Practica 2 - copia/build/
/Tercero/PCD/Practica 2 - copia/nbproject/private/
/Tercero/PCD/Practica 3/build/
/Tercero/PCD/Practica 3/nbproject/private/
/Tercero/PCD/PCD test/build/
/Tercero/PCD/Practica 3/dist/
