/FEST/2017/Ejercicio 5/nbproject/private/
/FEST/2017/Ejercicio1/nbproject/private/
/BINpurge.exe
/Segundo/MP/Practica 2/nbproject/private/
/Segundo/MP/Practica 2/build/
/Segundo/MP/Examenes/2017 Febrero/Ejercicio2/nbproject/private/
/Segundo/MP/Practica2 mod1/build/
/Segundo/MP/Practica2 mod1/nbproject/private/
/Segundo/MP/Examenes/2015 Febrero/Ejercicio 2/nbproject/private/
/Segundo/MP/Examenes/2015 Febrero/Ejercicio 2/build/