<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated practica2 -->
      <package
            uri="Practica2"
            class="Practica2.Practica2Package"
            genModel="practica2.genmodel"/>
   </extension>

</plugin>
